$padding: 13px;
$light-gray: #FCFCFC;
$green: #48CF74;
$blue: #1494FE;
$avatar-size: 40px;
$dark-gray: #ccc;

@mixin clearfix() {
    content: ' ';
    display: block;
    clear: both;

    &:after {
        content: ' ';
        display: block;
        clear: both;
    }
}

@import "css/reset";
@import "css/animate";
@import "css/body";
@import "css/container";
@import "css/indicator";
@import "css/intro";
@import "css/messages";

@import "chatbot/index";
@import "message/index";
@import "io/index";
