io {
    @include clearfix();

    display: block;
    float: right;
    width: 65%;

    @media (max-width: 640px) {
        float: none;
        width: 100%;
    }

    ol {
        float: right;
    }

    li {
        float: left;
        margin-left: $padding / 2;
        margin-bottom: $padding / 2;

        a, a:focus, &:active, &:hover {
            background: $blue;
            color: #fff;
            display: block;
            border-radius: 4px;
            text-decoration: none;
        }
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="city"], input[type="location"], input[type="number"], textarea, select {
        background: #fff;
        color: #222;
        font-family: inherit;
        font-size: inherit;
        height: auto;
        margin: 0;
        border: 1px solid $green;
        padding: $padding;
        border-radius: 4px;
        width: 100%;
    }

    button {
        position: absolute;
        right: $padding / 2;
        top: $padding / 2;
        padding: $padding / 2 $padding;
        border-radius: 4px;
        border: 0;
        background: $green;
        color: #fff;
        cursor: pointer;
        font-size: 80%;
        line-height: 1.8;
        margin-bottom: $padding / 2;
    }

    form {
        position: relative;
    }
}
