message {
    @include clearfix();

    display: block;
    float: left;
    max-width: 85%;
    margin-bottom: $padding;

    p {
        background: $light-gray;
        padding: $padding;
        border-radius: 4px;
    }

    .delivered {
        font-size: 75%;
        color: $dark-gray;
        text-transform: uppercase;
        float: right;
        margin-top: $padding / 2;
        display: block;
    }

    &.from-user {
        float: right;

        p {
            background: $blue;
            color: #fff;
        }
    }

    &.from-system {
        float: none;
        display: block;
        max-width: none;

        p {
            background: $dark-gray;
            text-align: center;
            color: #fff;
            font-weight: bold;
        }
    }

    &.has-avatar {
        p {
            margin-left: $avatar-size + $padding;
        }

        .avatar {
            width: $avatar-size;
            height: $avatar-size;
            border-radius: 50%;
            float: left;
        }
    }
}
